.header {
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    
}

@media (max-width: 768px) {
    .header {
        min-height: 10vh;
        /* margin-top: 0.5em; */
    }
  }