#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  /* height: 6em; */
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 100ms;
}
.logo:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
  filter: drop-shadow(0 0 0.5em #565d61aa);
}
.logo.react:hover {
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.items {
  /* margin-top: 1em; */
  border-radius: 20px;
  border: 2px solid #494b47;
}

@media (max-width: 768px) {
  .items {
    margin-top: 0.5em;
  }
}

.message {
  padding: 16px;
  /* color: #555; */
}

input.blue-outline:hover {
  outline: 2px solid #2563eb; /* same blue as focus ring */
  outline-offset: 2px;
}

.title-input {
  max-width: 100%;
  width: 100%;
  font-size: 2rem;
}
.new-list {
  min-height: 7vh;
  display: flex;
  margin-top: 0.5em;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 768px) {
    .new-list {
        min-height: 10vh;
        /* display: flex; */
        /* margin-top: 0.5em; */
    }
  }